@import "./../../../styles/variables.module";

.languages {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    // gap: 10px;
    justify-content: center;
    // border: 1px solid rgb(240, 144, 54);
    border-radius: $borderRadius;
    // padding: 10px;
    a{
        display: grid;
        justify-content: center;  
    }
    
}